@using ProductStore.Models.Entities
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Product catalogue</title>
        <style>
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        th {
            background-color: #f2f2f2;
            text-align: left;
            padding: 10px;
            border: 1px solid #ddd;
        }

        td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        tr {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Manufacturer</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product p in Model)
            {
                string description = p?.Description ?? "";
                decimal? price = p?.Price ?? 0;
                <tr>
                    <td>@p.Name</td>
                    <td>@description</td>
                    <td>@price</td>
                    <td>@p.Category.Name</td>
                    <td>@p.Manufacturer.Name</td>
                    <td>
                        <form asp-controller="Product" asp-action="Edit" asp-route-id="@p.ProductId" method="get">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Product" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@p.ProductId" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product?')">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
